.input{
    border-radius: rem-calc(50%);
    padding-left: rem-calc(20);
    height: rem-calc(45);
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    &:disabled {
        background-color: #f5f5f5;
        cursor: not-allowed;
    }
}